{% extends "base_generic.html" %}
{% block title %}
    <title>Visitor Access Report</title>
{% endblock %}
{% block content %}
<head>
{% load static %}
</head>

<body>
    <h1 style="text-align:center;">Vehicles Access Date Time</h1>
    <div style="float:right; margin-right:10px;">
        <form action="{% url 'visitorEnter' %}" method="get">
            <input type="text" name="searchText" maxlength="10" placeholder="eg.PMK1111">
            <input type="submit" value="Search">
        </form>
        <small style="color:red">{{ error }}</small>
    </div>
    <table class="owner-enter-table">
        <tr>
            <th>Name</th>
            <th>Vehicle Plate Number</th>
            <th>Enter Time</th>
            <th>Exit Time</th>
            <th>Parking Fee</th>
        </tr>
        {% for vehicle in enterDateTime %}
        <tr>
            <td>{{ vehicle.visitor }}</td>
            <td>{{ vehicle.visitor.visitorPlateNum }}</td>
            <td>{{ vehicle.dateTime }}</td>
            <td>{{ vehicle.exitDateTime }}</td>
            <td>{{ vehicle.Balance}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}