{% extends "base_generic.html" %}
{% block title %}
    <title>Resident Delete</title>
{% endblock %}
{% block content %}
<div class="center-div">
  <h1 style="text-align:center;">Delete Resident</h1>
  <p>Are you sure you want to delete the resident: {{ owner }}?</p>

  <form action="" method="POST">
    {% csrf_token %}
    <a href="{% url 'owner-detail' owner.id %}"><input type="button" class="addBtn" value="No, please take me back"></a>
    <input type="submit" class="deleteBtn" value="Yes, delete">
    
  </form>
</div>
{% endblock %}